.content {
  width: 400px;
  margin: 20px auto;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 100%;
  margin-bottom: 20px;
}

.submit-button {
  width: 100px;
  margin: 20px 0px;
  display: block;
  padding: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.output-box {
  display: flex;
  flex-direction: column;
}